@charset "UTF-8";

*{
    margin:0px;
    padding:0px;
}
::-webkit-scrollbar{
    width:15px;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(11, 27, 22);
    border:1px solid white;
}
::-webkit-scrollbar-track{
    background-color: aliceblue;
}
img{
    width:94vw;

}
a{
    display:block;
    background-color: darkred;
    padding:20px 20px;
    text-align: center;
    color:white;
    text-decoration: none;


}